*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITY */

* a{
    text-decoration: none;
}

* ul{
list-style-type: none;    
}

* li{

    list-style: none;
}

.flex{
    display: flex;
}
.flex-jc-sb{
    display: flex;
    justify-content: space-between;
}
.trybox{
    width: 100vw;
    height: 100vh;
    background-color: rgb(188, 224, 117);
    border: 1px solid black;
}
.box500{
    width: 500px;
    height: 900px;
    background-color: blueviolet;
   
}
.box100{
    width: 100px;
    height: 100px;
    background-color: lightgoldenrodyellow;
    border: 1px solid black;
}

html{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* INIZIO PROGETTO */

.container-100vh{
    flex-direction:row;
    flex-wrap: wrap;
    height: 100vh;  
}
main{
    height: 90vh;
    background-color: #141922;
    color: white;
    flex:1 
    
}
.col1{
    width: 10vw;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
    border: 1px solid black;
    background-color:#000000;
}



.col2{
    overflow: auto;
    width:90vw;
    background-color: lightgreen;
}
header{
    width: 100%;
    text-align: right;
    padding: 2rem;
    background-color:rgba(12, 15, 20, 0.4);
    position: sticky;
    top: 0;
    z-index: 1;
}
header a{
    border: 1px solid white;
    border-radius: 2rem;
    padding: 1rem 4rem;
    color: white;
    
    
}
.col2-banner ul{
    padding: 2rem;
    text-align: center;
    
    
    }
.col2-banner li{
    display: inline;
    padding: 2rem 2rem; 
        
 }
    
.col2-banner h2{
    padding: 2rem 2rem;
}




.card-ctn{
    padding: 2rem 2rem;
    justify-content: space-around;
}
.card{
    width:calc(16.66% - 1rem);
    
}
.card img{
   width: 100%;
   
   object-fit: contain;
}
.card h3, .card div{
    text-align: center;
    padding-top: 0.7rem;   
}

.card div,.sec3 p{
    color: #727579;
}




.card2,.card3{
   
    padding: 1rem 2rem;  
}

.card2 img,.card3 img{
    width: 100%;
    object-fit: contain; 
}

.card2 picture,.card3 picture{
    width:calc(18% - 1rem);
    padding-right:1rem;
}

.card3 img{
    border-radius: 50%;
}






/* FOOTER */

footer{
    color: white;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    background-color:#282828;
    position: fixed;
    bottom: 0;
    z-index: 1;
}
.sinister img{
    width: 50px;
    object-fit: contain;
}
.sinister{
    align-items: center;
    padding-left: 1rem;
}
.sinister i {
    padding:0 0.5rem;
}
.footer-text{
    font-size: 0.8rem;
    padding: 0 1rem;
}











