*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITY */

* a{
    text-decoration: none;
}

* ul{
list-style-type: none;    
}

* li{

    list-style: none;
}

.flex{
    display: flex;
}
.flex-jc-sb{
    display: flex;
    justify-content: space-between;
}
.trybox{
    width: 100vw;
    height: 100vh;
    background-color: rgb(188, 224, 117);
    border: 1px solid black;
}
.box500{
    width: 500px;
    height: 900px;
    background-color: blueviolet;
}
.box100{
    width: 100px;
    height: 100px;
    background-color: lightgoldenrodyellow;
    border: 1px solid black;
}

/* INIZIO PROGETTO */

.container-100vh{
    flex-direction:row;
    flex-wrap: wrap;
    height: 100vh;  
}
header{
    width: 100%;
    text-align: right;
    padding: 2rem;
    background-color: rgb(7, 6, 6,0.5);
    position: fixed;
    top: 0;
    z-index: 1;
}
header a{
    color: white;
    
}
main{
    height: 90vh;
    flex-grow: 1;
    
}

.left-cnt{
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
    border: 1px solid black;
    background-color: lightgreen;
    position: fixed;
    left: 0;
    z-index: 2;
}
footer{
    height: 10vh;
    width: 100%;
    background-color: lightcyan;
    position: fixed;
    bottom: 0;
    z-index: 1;
}










